<%= form_for :config_pins, url: set_pins_path do |f| %>
<div id="pi-container" class="col s12 m8">
  <div class="col s12 center">
    <div class="pi-hole btn-floating btn-large white"></div>
  </div>
  
  <div id="pi-board" class="col s7"></div>
  <div class="col s12">
    <%= f.fields_for :pinval do |p| %>
    <% for i in 0...40 do %>
    <div class="col s6">
      <%= p.check_box nil, { id: "pin#{i}", class: "filled-in" + (if i.even? then " reverse" else "" end), disabled: !@pins['gpio'][i].starts_with?("GPIO"), checked: (@pinval.include?(i.to_s) and @module == 'gpio') }, i, false %>
      <label for="pin<%= i %>" class="pi-pin col s12 <%= i.even? ? 'left' : 'right'%>-align">
	<%= @pins['gpio'][i] %>
      </label>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="col s12 center">
    <div class="pi-hole btn-floating btn-large white"></div>
  </div>
</div>
<%= f.hidden_field :stage, value: @stage %>
<%= f.hidden_field :from, value: @from %>
<%= f.hidden_field :module, value: "gpio" %>
<p>
  <%= f.submit "Save Configuration", class: "btn waves-effect waves-light right" %>
</p>
<% end %>
