<% content_for :header do %>
<%= javascript_include_tag "features" %>
<% end %>

<%= render "sidenav" %>

<p>
  <a href="#" data-activates="slide-out" class="button-collapse">
    <i class="material-icons">menu</i>
  </a>
</p>

<% if @status.nil? %>
<p>No data available yet.</p>
<% else %>
<p>Lighting Status: <%= @status.alert %></p>
<p>AD: <%= @status.ad %></p>
<p>DI: <%= @status.di %></p>
<p>LHL: <%= @status.lhl %></p>
<p>FCC: <%= @status.fcc %></p>
<% end %>
