<p>View Log</p>
<%= form_for :date_range, url: fetch_logs_path do |f| %>
<p>
  <%= f.label :start_date %>
  <%= f.date_field :start_date, class: "datepicker" %>
</p>
<p>
  <%= f.label :end_date %>
  <%= f.date_field :end_date, class: "datepicker" %>
</p>
<p>
  <%= f.submit "Show Logs" %>
</p>
<% end %>

<% unless @logs.nil? then %>
<ul class="collection">
  <% if @logs.length > 0 then %>
  <% for log in @logs do %>
  <li class="collection-item row">
    <div class="col s6">
      <%= log.alert %> <br />
      <%= local_time(log.created_at) %>
    </div>
    <div class="col s6">
      AD: <%= log.ad %> <br />
      DI: <%= log.di %> <br />
      LHL: <%= log.lhl %> <br />
      FCC: <%= log.fcc %>
    </div>
  </li>
  <% end %>
  <% else %>
  <li class="collection-item">
    No log found.
  </li>
  <% end %>
</ul>
<% end %>
