<%= render partial: "sidenav", locals: { title: "Configure Pins" } %>

<div class="col s12 m6">
  <%= form_for :config_pins, url: set_pins_path do |f| %>
  <%= f.label :ac, "AllClear" %>
  <%= render partial: "pinconf", locals: { f: f } %>
  <%= f.hidden_field :stage, value: :ac %>
  <%= f.submit "Update" %>
</div>
<div class="col s12 m6">
  <%= f.label :c_up, "Ascend To Caution" %>
</div>
<div class="col s12 m6">
  <%= f.label :w_up, "Ascend To Warning" %>
</div>
<div class="col s12 m6">
  <%= f.label :ra_up, "Ascend To RedAlert" %>
</div>
<div class="col s12 m6">
  <%= f.label :w_down, "Descend To Warning" %>
</div>
<div class="col s12 m6">
  <%= f.label :c_down, "Descend To Caution" %>
</div>
<% end %>
