<!DOCTYPE html>
<html>
  <head>
    <title>Thorberry</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- materialize -->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= yield :header if content_for? :header %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="row">
      <div class="col s10 offset-s1 m8 offset-m2">
	<%= yield %>
      </div>
    </div>
  </body>
</html>
